* {
	margin: 0;
} 

.header {
	max-width: 1920px;
	height: 100vh;
	background-image: url('image/Layer 7.jpeg');
	border: 1px solid #000;	
		background-size: 100%;
	background-position: 0;
}
.logo {


}