* {
	margin: 0;
	font-family: 'Lato', sans-serif;
} 

.flex {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	display: flex;
}
.row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
	flex-direction: row;
}
.col {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
	flex-direction: column;
}

.header {
	max-width: 1920px;
	height: 100vh;
	background-image: url('image/Layer 7.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0;
	justify-content: center;
}


#menu {
	margin: 0;
	padding: 0;
	justify-content: space-between;
	width: 615px;
}

.header nav {
	justify-content: center;
	list-style-type: none;
	cursor: pointer;
	text-align: center;
	padding-top: 66px;
}
/*		святой пиздец	*/
.logo {
	height: 88px;
	width: 93px;
}
.links {
	list-style-type: none;
}

/*	======================	*/
a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

